@import url('https://fonts.googleapis.com/css?family=Roboto');

$app-font: 'Roboto', sans-serif;
$app-color-primary-dark: #0E1C36;
$app-color-primary-light: #D7F9FF;
$app-color-secondary-light: #AFCBFF;