<div class="container">
	<div class="header">
		<div class="humberger" (click)="toggleHumbergerMenu()">
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
		</div>
		<span class="title">{{title}}</span>
	</div>
	
	<ul [ngClass]="menuVisible ? 'menu-open' : 'menu-close'" class="menu menu-close">
		<li class="menu-item sliding-middle-out" *ngFor="let menuItem of menuItems"><a class="menu-link" href="{{menuItem.link}}">{{menuItem.name}}</a></li>
	</ul>
	
	<div class="search-container">
		<span class="pipe">|</span>
		<a class="menu-link" href="#">
			<i class="fas fa-search"></i>
		</a> 
	</div>
</div>